<!-- Navigation  -->
<nav class="navbar">
    <div class="logo">
        <a href="/">
            <h1 class="site-main-title">
                {{site.title}}
            </h1>
            <p class="site-subtitle">
                {{site.subtitle}}
            </p>
        </a>
    </div>
    <ul class="nav-links">
        {% for i in site.urls %}
        <!-- <li><a href="/" class="current-page">Home</a></li>
            <li><a href="{{site.url}}{{site.baseurl}}/blog/">Blog</a></li>
            <li><a href="{{site.url}}{{site.baseurl}}/about">About</a></li> -->
        <li>
            <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}">
                {{ i.text }}</a>
        </li>
        {% endfor %}
        <i class="fas fa-adjust" id="theme-mode-icon"></i>
        <i class="fas fa-search" id="search-icon"></i>
    </ul>

    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>