/* ==================
      Global Styles
===================== */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

footer {
  text-align: center;
  background-color: #444444;
  padding: 3em;
  color: #e1e1e1;
  margin-top: 2rem;
}

/* ==================
      Typography
===================== */

h1,h2,h3,p {
  margin-top:0;
}

h1 {
  margin:0;
}

h2 {

}

h3 {

}

p {
  
}

strong {

}

a {

}

.site-title {
  color: #ececec;
}

.site-main-title {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2rem;
}

.site-subtitle {
  margin: 0;
  font-size: .75rem;
  margin-bottom: .50em;
}


/* ==================
      Layout
===================== */
.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row; /*default value */

}

header {
  text-align: center;
  background-color: #597FA4;
  padding: 0;
  margin-bottom: 2rem;
}




/* ==================
      Navigation
===================== */

nav {
  
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
  
  /*Centres the navigation buttons
  margin: 0 1em; */
}

nav a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 400;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #c9c9c9;
}

.site-main-title a {
  color: #ececec;
  text-decoration: none;
}

.site-main-title a:hover,
.site-main-title a:focus {
  color: #c9c9c9;
}



