// Styling with scss

/* variables */
$heading: #3579bb;
$button: #3579bb;
$button-hover: #fafafa;
$button-reverse: #fafafa;
$button-hover-reverse: #3579bb;
$backgrounf-color: #ffffff;



/* ==================
      Global Styles
===================== */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  background-color: #f3f3f3;

  // Syntax issue resolution
  word-wrap: break-word; /* force long words to break */
  overflow-wrap: break-word; /* newer syntax standard that replaces word-wrap */
}

// Sytax issue resolved
code,
pre,
samp {
  white-space: pre-wrap; /* force long lines to break */
}

footer {
  text-align: center;
  background-color: #444444;
  padding: 3em;
  color: #e1e1e1;
  margin-top: 2rem;
}

/* ==================
      Typography
===================== */

h1,h2,h3,p {
  margin-top:0;
}

h1 {
  margin:0;
}

h2 {
  color: $heading;
}

h3 {

}

p {

}

strong {

}

a {

}

.site-title {
  color: #ececec;
}

.site-main-title {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 2rem;
}

.site-subtitle {
  margin: 0;
  font-size: .75rem;
  margin-bottom: .50em;
}

// ##############
// Blog

.blog-container h1 {
  color: #3579bb;
}

.blog-container h2 {

}

.blog-container a {
  color: #3579bb;
  text-decoration: none;
}

.blog-container a:hover,
.blog-container a:focus {
  color: #4d4d4d;
}

// sidebar-main
.sidebar-main h2 {
  font-weight: 700;
  font-size: 1.15em;
}

.post-title h2 {
  margin-bottom: .5em;
}

.post-read-more a {
  color: #fafafa;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.post-read-more a:hover,
.post-read-more a:focus {
  color: #e1e1e1;
}

// sidebar-secondary

.sidebar-secondary p {
  margin: 0 0 .5em 0;
  padding: 0 0 .5em 0;
}

.sidebar-secondary h2 {
  font-weight: 700;
  font-size: 1em;
  color: #3579bb;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.sidebar-secondary a {
  color: #4d4d4d;
}

.sidebar-secondary a:hover,
.sidebar-secondary a:focus {
  color: #3579bb;
}

// Pagination

.previous a {


}

.previous a:hover,
.previous a:focus {

}

// This is applied on the Categories widget title
.categories-all-widget h2 {

}

/* ===
  Post
  === */

.previous-post a:hover,
.previous-post a:focus,
.next-post a:hover,
.next-post a:focus {
  color: #000;
}

/* ==================
      Layout
===================== */
.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row; /*default value */

}

header {
  text-align: center;
  background-color: #597FA4;
  padding: 0;
  margin-bottom: 2em;
}

/* ====
  Blog Page
  ========*/

.post-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-card-outer {
  background-color: #ffffff;
  padding: .5em 1em 1em 1em;
  margin-bottom: 2em;
}

.post-title {
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 1em;
}

.post-card-inner {
  display: flex;
}

.blog-media {
width: 25%;
}

.blog-img {
  width: 100%;
  display: block;
}

.post-content-all {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.post-meta-blog {
  margin-bottom: 1em;
}

.post-content {
}

.post-content-summary {
  margin-bottom: 1em;
}

.post-read-more {
  float: right;
  padding:0 .25em .1em .25em;
  background-color: #597FA4;
}

.post-read-more:hover,
.post-read-more:focus {
  background-color: #949494;
}

// .sidebar-secondary {
//   width: 25%;
// }

.recent-posts-widget {
  padding: 1em;
  background-color: white;
}

.recent-posts-blog {
  border-bottom: 1px solid #d3d3d3;
}

.recent-posts-name-widget {
  border-bottom: .5px solid #d3d3d3;
}

.recent-posts-name-widget:last-child {
  border: 0;
  margin: 0;
}

.categories-all-widget {
  padding: 1em;
  background-color: white;
  margin-top: 2em;
}

.categories-blog-widget-title {
  border-bottom: 1px solid #d3d3d3;
}

.category-name-widget {
  border-bottom: .5px solid #d3d3d3;
}

.category-name-widget:last-child {
  border: 0;
}

// Pagination -blog

.pagination {
  display: flex;
  float: right;
}

.pagination-ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.pagination-li {
  margin: .1em;
  color: #fafafa;
  text-decoration: none;
}

.pagination-li-active:active {
}

.pagination-li a {
  padding: .2em .5em;
  background-color: #c9c9c9;
  color: #444444;
}

.pagination-li a:hover,
.pagination-li a:focus {
  background-color: #597FA4 ;
  color: #e1e1e1;
  
}

.pagination-li span {
  padding: .2em .5em;
  background-color: #c9c9c9;
  color: #444444;
}

.pagination-li span:hover {
  background-color: #949494;
  color: #c9c9c9;
}

.pagination-li-main {

}

.previous:hover,
.previous:focus {
  background-color: #597FA4;
  color: #c9c9c9;
}

/*====
  Post-Layout
===*/

.post-data {
  background-color: $backgrounf-color;
  padding: 1em;
}
.post-media {
  margin-bottom: 1em;
  }

.post-img {
  width: 100%;
  display: block;
}

.post-meta {
  margin-bottom: 1em;
}

.post-detail {
  
}

.previous-next {
  display: flex;
  background-color: $backgrounf-color;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 1em;
}

.post-author {
  background-color: $backgrounf-color;
  padding: 1em;
}

.author-info-detailed {
  display: flex;
}

.post-author-media {
  width: 30%;
}

.post-author-image {
  border-radius: 50%;
  display: block;
}

.author-info-brief {
  width: 60%;
}

/* ==================
      Navigation
===================== */

nav {

}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;

  /*Centres the navigation buttons
  margin: 0 1em; */
}

nav a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 400;
  padding: .25em 0;
}

nav a:hover,
nav a:focus {
  color: #c9c9c9;
}

.site-main-title a {
  color: #ececec;
  text-decoration: none;
}

.site-main-title a:hover,
.site-main-title a:focus {
  color: #c9c9c9;
}

/* ===============
  Home Page
================== */

.home-title-main {
  text-align: center;
  margin: 2rem 0;
}

.home-title-sub {
  text-align: center;
  color: #444444;
}

.home-content {
  text-align: center;
}


/* ==================
  Posts Page*/

.post-category {
  margin-bottom: 2rem;
}

/* =====================
    highlighter
======================= */


/* =====================
    Responsive Media Queries
    =====================*/
@media (min-width:200px) and (max-width:390px) {
      header {
        padding: .5em;
      }

        .site-title {
          justify-content: center;
        }

        .site-main-title {
          font-size: 1em;
          margin-top: .4em;
        }

        .site-subtitle {
          margin: 0;
        }
        
        nav li {
          margin-left: 1em;
        
          /*Centres the navigation buttons
          margin: 0 1em; */
        }
        
        nav a {
          text-decoration: none;
          color: #fafafa;
          font-weight: 400;
          font-size: 1rem;
          padding: .25em 0;
        }

  .container {
    width: 100%;
  }

  .sidebar-main {
    margin-bottom: 3.5em;
  }

  .post-author {
    text-align: center;
  }

  .author-info-detailed {
    flex-direction: column;
    justify-content: center;
  }
  
  .post-author-media {
    width: 100%;
    margin-bottom: 1em;
  }

  .post-author-image {
    margin: 0 auto;
  }
  
  .author-info-brief {
    width: 100%;
  }
}

@media (min-width: 391px) and (max-width: 899px) {
  // blog
  .sidebar-main {
    margin-bottom: 3.5em;
  }

  .post-card-inner {
    display: flex;
    flex-direction: column;
  }
  
  .blog-media {
  width: 100%;
  margin-bottom: 1em;
  }
  
  .blog-img {
    width: 100%;
    display: block;
  }
  
  .post-content-all {
    width: 100%;
    margin: 0;
  }

  // post
  .post-media {
    width: 100%;
    margin-bottom: 1em;
    }

    .post-author {
      text-align: center;
    }

    .author-info-detailed {
      flex-direction: column;
      justify-content: center;
    }
    
    .post-author-media {
      width: 100%;
      margin-bottom: 1em;
    }

    .post-author-image {
      margin: 0 auto;
    }
    
    .author-info-brief {
      width: 100%;
    }

}

@media (min-width: 900px) {
  // blog
  .blog-container {
    display: flex;
    justify-content: space-between;
  }

  .sidebar-main {
    max-width: 70%;
  }

  .sidebar-secondary {
    width: 25%;
    }
}