<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/efc5d04e84.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
  </head>

  <body>

    <div id = "spinner-wrapper">
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>

    {% include navigation-beta.html %}
    {% include search-fullscreen.html %}
    {% include scroll-to-top.html %}

    <main>
      {{ content }}
      </main>
    <footer class="footer">
      <div class="footer-credits">
         <p>Powered by MMDM</p>
      </div>
         </footer>

         <!-- <script id="dsq-count-scr" src="//github-masteringmdm-com.disqus.com/count.js" async></script> -->
         <script src="/assets/js/toc_anchors.js"></script>
         <script src="/assets/js/main.js"></script>
         <script src="/assets/js/theme-mode-switcher.js"></script>

         <!-- Page loading div-->
         <script>
          var loader = document.getElementById("spinner-wrapper");
          window.addEventListener("load", function(){
            loader.style.display = "none";
          })
        </script>
  </body>
</html>
